.box {
    display: flex;
    justify-content: center;
    background-color: #eeeeee;
}

.wrap {
    
  
    width: 34%;
  
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    padding: 17px;
    border-radius: 11px;
    margin: 28px;
    background-color: beige;

}

nav.navbar.navbar-expand-lg.navbar-light {
    background-color: #c995f9;
    color: whie;
    /* color: white; */
}
a.nav-link {
    color: white;
}

.card-body {
   
    background: antiquewhite;
}
.btn {
    display: flex;
    justify-content: space-evenly;
}

.card {
    margin-bottom: 19px;
}